@page "/calendar"
@inherits CalendarBase

<MudContainer Class="calendar-container">
    <MudPaper Class="pa-4 calendar-paper">
        <MudText Typo="Typo.h5" Align="Align.Center">
            Calendario para @CurrentMonth.ToString("MMMM yyyy")
        </MudText>

        <!-- Envolver el MudTable en un contenedor centrado -->
        <div class="calendar-table-container">
            <!-- Utilizar MudTablePlain para el calendario -->
            <MudTablePlain Class="calendar-table" Bordered="true">
                <MudTHead>
                    <MudTr>
                        <MudTh>Lunes</MudTh>
                        <MudTh>Martes</MudTh>
                        <MudTh>Miércoles</MudTh>
                        <MudTh>Jueves</MudTh>
                        <MudTh>Viernes</MudTh>
                        <MudTh>Sábado</MudTh>
                        <MudTh>Domingo</MudTh>
                    </MudTr>
                </MudTHead>
                <MudTBody>
                    @foreach (var week in WeeksInMonth)
                    {
                        <MudTr>
                            @foreach (var day in week)
                            {
                                <MudTd>
                                    @if (day.HasValue)
                                    {
                                        <MudButton @onclick="() => OnDateSelected(day.Value)"
                                                   Class="calendar-button"
                                                   Style="@(IsToday(day.Value) ? "background-color: yellow; color: black;" : "")">
                                            @day?.Day
                                        </MudButton>

                                    }
                                </MudTd>
                            }
                        </MudTr>
                    }
                </MudTBody>
            </MudTablePlain>
        </div>

        <div class="calendar-navigation">
            <MudButton Variant="Variant.Outlined" OnClick="PreviousMonth" Class="calendar-nav-button">Mes Anterior</MudButton>
            <MudButton Variant="Variant.Outlined" OnClick="NextMonth" Class="calendar-nav-button">Mes Siguiente</MudButton>
        </div>
    </MudPaper>
</MudContainer>
