@page "/accommodations/create"
﻿
<h3>@Localizer["Create"] @Localizer["Accommodation"]</h3>

<AccommodationForm @ref="accommodationForm" Accommodation="accommodation" OnValidSubmit="CreateAsync" ReturnAction="Return" />