@page "/reservations/create"

<h3>@Localizer["Create"] @Localizer["Reservation"]</h3>

<ReservationForm @ref="reservationForm" Reservation="reservation" OnValidSubmit="CreateAsync" ReturnAction="Return" />