@page "/reservations"

<h3>Reservations</h3>

@if (Reservations is null)
{
    <p>Cargando...</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <td> Reserva </td>
                <td></td>
            </tr>
        </thead>


        <tbody>
            @foreach (var reservation in Reservations!)
            {
                <tr>
                    <td> @reservation.Room </td>
                    <td>
                    </td>
                </tr>
            }
        </tbody>     


    </table>
}






